/* General Body */
html, body{
    height:100%;
    margin: 0;
    padding: 0;
}
body{
    background: no-repeat center center fixed;
    background-image:url(images/CircuitryBG-blue2.jpg);
    background-size:cover;
    background-position:center;
    background-blend-mode:soft-light;
}
* { box-sizing: border-box; }
.container{ /* Holds header, content, and footer */
    min-height: 100%;
    position: relative;
}

/* Header / Link Bar */
#header{
    text-align: center;
    background: black;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: auto;
	z-index: 99;
}
#logo{          /* Logo picture */
    height:6rem;
}
#menu{          /* Container for page link buttons */
    margin: auto;
    width: 60%;
    background: black;
}
#homeLinkWrapper{      /* Buttons to other pages */
    /* width: 20%; */
    width: 0;
    float: left;
    /* margin: auto;
    margin-bottom: 1%;
    margin-right: 1%;
    display: block;
    width: 10%;
    height: 4rem;
    min-width:2rem;
    float: left; */
}
#homeLink{      /* Button w/ logo. Links to home page */
    margin:auto;
    /* height:4rem; */
    height:0;
    border-radius: 2rem;
    /*opacity:1;*/
    background-color: rgba(255,255,255,0);
    transition: background-color 1500ms;
    /*transition:opacity 1000ms, background-color 1000ms;*/
}
#homeLink:hover{
    cursor:pointer;
    /*opacity:0.5;*/
    background-color: rgba(255,255,255,1);
    transition: background-color 500ms;
    /*transition:opacity 1000ms, background-color 1000ms;*/
}
#pageLinkWrapper{
    /* width: 80%; */
    width: 100%;
    float: left;
}
.pageLink{      /* Buttons to other pages */
    margin: 0 auto;
    display: block;
    width: 33%;
    height: 4.3rem;
    background-color: rgba(255,255,255,0);   /* RGB color and Alpha transparency percentage [0,1] */
    color: white;
    border: 0px solid white;                 /* Border (unaffected by "background-color" */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    /*border-radius: 5px;*/
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    transition: background-color 1500ms, color 1500ms;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: nowrap;
}
.pageLink:hover{
    background-color: #37c0f6;
    color:#000;
    cursor:pointer;
    transition:background-color 500ms, color 500ms;
}
.currentPageLink{      /* Highlights current page */
    background-color: rgba(255,255,255,1);
	color:#000;
}


/* Multi-page / universal elements */
.content{
    padding: 11rem 0 11rem 0;
    margin-left:5%;
    margin-right:5%;
}
.content:after{
  content: "";
  display: table;
  clear: both;
}

/* Home Page (Index) */
#homepage{      /* Special style for homepage */
    background-image:url(images/CumberlandGapSandGreen.jpg);
    height:100%;
    margin:0;
    overflow:hidden;
}
.title{         /* Content in middle */
    display:flex;
    justify-content:center;
}
.homeLogo{      /* BIG logo on homepage */
    position:absolute;
    display:block;
    top:25%; bottom:50%; left:auto; right:auto;
    width:40vh;
    max-width:100%;
}
.subtitle{      /* title below logo, concise descriptor of me */
    position:absolute;
    top:50%; bottom:50%; left:auto; right:auto;
    color:white;
    font-size: 5vh;
    font-family:serif;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align:center;
    margin-top:6vh;
    max-width:100%;
}

/* About Me Page */
#aboutBG{       /* Background */
  background-color: white;
  margin-top: 20px;
  padding: 30px;
  border-radius: 3rem;
}

.headshot{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid black;
    border-radius: 25%;
}

/* Project Page */
#projects {
    border-radius: 3rem;
}

.project{       /* individual project card */
    background-color: white;
    margin-top: 20px;
	/*margin-bottom: 100px;*/
    padding: 30px;
    border-radius: 3rem;
	list-style-type:none;	/* listed item (li) w/o bullets */
}

.image {        /* Project image */
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}
.sortBar {
	list-style-type: none;
	width: 70%;
	margin: auto;
	padding: 10px;
	overflow: hidden;
	background-color: #37c0f0;
	border-radius: 3rem;
}
.sortButton {
	padding:1rem;
	display:inline;
	float:left;
	color: black;
	font-size: 1.2em;
	border-radius: 3rem;
	transition:background-color 500ms, color 500ms;
}
.sortButton:hover{
    background-color:rgba(255,255,255,1);
    color:#222;
    cursor:pointer;
    transition:background-color 500ms, color 500ms;
}

/* Slideshow for each project. Start slideshow images as invisible */
.mySlides0, .mySlides1, .mySlides2, .mySlides3, .mySlides4, .mySlides5, .mySlides6, .mySlides7 {display: none}

.slideshow-container {	/* Slideshow container */
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
    width:50%; 
    margin-left:auto; 
    margin-right:auto; 
    display:block;
}

.prevSlide, .nextSlide {	/* Next & previous slide buttons */
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.nextSlide {
  right: 0;
  border-radius: 5px 0 0 5px;
}

/* On hover, add a grey background color */
.prevSlide:hover, .nextSlide:hover {
  background-color: #37c0f6;
  color: white;
}

/* Curriculum Vitae Page */
#cv {           /* Background */
    background-color: white;
    margin-top: 20px;
    padding: 30px;
    border-radius: 3rem;
}

.resume{
    margin-left:auto;
    margin-right:auto;
    display:block;
    width:90% 
}

#appsBG{       /* Background for Apps page */
    display: block;
    background-color: white;
    margin-top: 20px;
    padding: 30px;
    border-radius: 3rem;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}
.appsTitle{
    text-align:center; 
    padding-bottom:1em; 
    color:black;
}
.appButtonContainer{
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    height: 3rem;
}
.appButtonContainer > a {
    display: flex; 
    width: 50%;    
}
.appButton{
    padding: 5px;
    display: flex;
    flex-grow: 1;
    align-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 10px auto;
    width: 50%;
    height: 3rem;
    background-color: rgba(10,10,10,1);   /* RGB color and Alpha transparency percentage [0,1] */
    color: white;
    border: 0px solid white;                 /* Border (unaffected by "background-color" */
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    transition: background-color 1500ms, color 1500ms;
}
.appButton:hover{
    background-color: #37c0f6;
    cursor:pointer;
    transition:background-color 500ms, color 500ms;
}
.projectHeader {
    display: flex;
    justify-content: space-between; /* Pushes Title to left and Date to right */
    align-items: baseline;          /* Aligns the text bottoms so they look neat */
    width: 100%;
}
.postTitle {
    margin: 0; /* Remove default margins that might push the date down */
}
.postDate {
    white-space: nowrap; /* Prevents the date from wrapping into two lines */
    font-size: 0.9em;    /* Optional: makes the date slightly smaller than the title */
    color: #666;         /* Optional: standard styling */
}

/* Footer / Social Media Links */
#footer{
    text-align: center;
    color: white;
    background: black;
    width: 100%;
    height: 10rem;
    bottom: 0;
    position: absolute; /* stays/waits at bottom */
    /*position: fixed;    /* sticks w/ scroll */
    
}

.email{
    color:white;
    text-decoration:none;
    font-size:inherit;
}

.contactLinks{  /* Row for social media buttons */
    margin-top: 0px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 35em;       /* #buttons * (buttonWidth + 2*buttonMargin) = 5 per button*/
    background: black;
}

.social{        /* Social media button (use <a> tag around) */
    margin: 1em;
    width: 3em;
    height: 3em;
    border-radius: 1.5em;
    padding: 4px;
    opacity: 0.5;
    transition:opacity 500ms, border-radius 1000ms;
    text-decoration:none;
    float: left;
}

.social:hover{  /* Social media button animation */
    opacity: 1;
    border-radius: 10px;
    transition:opacity 500ms, border-radius 1000ms;
}


/* Responsive layout - when the screen is less than 1000px wide */
@media screen and (max-width: 1000px) {
    #menu { 
        width: 100%;
    }
    .title{         /* Content in middle */
        top:15rem; bottom:11rem;
    }
    .email{
        font-size:medium;
    }
    .contactLinks{
        width: 18em;
    }
    .social {
        margin: 0.5em;
        width: 2em;
        height: 2em;
        border-radius: 1em;
        padding: 1px;
    }
    /*.content{
        margin-left: 0;
        margin-right: 0;
    }*/
    
    .homeLogo{      /* BIG logo on homepage */
        width:40vh;
    }
    .subtitle{      /* title below logo, concise descriptor of me */
        font-size: 3vh;
        margin-top:4vh;
    }
    #aboutBG{       /* Background */
        padding: 20px 10px;
    }
    .headshot{
        width: 80%;
    }
    .project{       /* individual project card */
        padding: 20px 10px;
    }
    .slide{
        width: 90%;
    }
    .appButtonContainer > a {
        width: 90%;    
    }
    .appButton{
        width: 90%;
    }
    #cv {           /* Background */
        padding: 20px 10px;
    }
    .resume{
        width:100% 
    }
}

